<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="ioService" class="ru.otus.spring.rnagimov.service.IoServiceConsoleImpl"/>

    <bean id="testingService" class="ru.otus.spring.rnagimov.service.TestingServiceImpl">
        <constructor-arg name="io" ref="ioService"/>
        <constructor-arg name="questionDao" ref="questionDao"/>
        <constructor-arg name="shuffleAnswerOptions" value="true"/>
    </bean>

    <bean id="questionDao" class="ru.otus.spring.rnagimov.dao.QuestionDaoImpl">
        <constructor-arg name="fileName" value="questions.csv"/>
        <constructor-arg name="io" ref="ioService"/>
    </bean>
</beans>